# Flask
Flask==1.0.2
Flask-Migrate~=2.0.3
GitHub-Flask~=3.1.5
Jinja2~=2.8
Flask-DebugToolbar~=0.10.1

# SQL
sqlalchemy~=1.1.5
Flask-SQLAlchemy~=2.1
psycopg2~=2.7

# Resources
redis~=2.10.5

# Services
PyGithub~=1.29

# Notebooks
jupyter-client~=5.0
-e git+https://github.com/olin-computing/nbcollate.git@0.1.1#egg=nbcollate-0.1.1

# Misc.
babel~=2.3.4
pandas~=0.19.2
