{% extends "layout.html" %}
{% block title %}{{ assignment_repo.owner.login }}/{{ assignment_repo.name }}{% endblock %}

{% block breadcrumbs %}
  <nav class="navbar navbar-fixed-top">
    <ol class="breadcrumb">
      <li>{{ classroom_owner.login }}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1><small>{{ assignment_repo.owner.login }} / {{ assignment_repo.name }}</small></h1>
        <p><small>{{ classroom_owner.fullname or classroom_owner.login | capitalize }} {{ assignment_repo.name}} forks.</small></p>
        <p>
          {% if repo_update_time %}The last commit is from {{ repo_update_time.strftime('%l:%M%P, %B %d') }}.{% endif %}
          Execute <code>{{ update_db_command }}</code> to update.</p>
        <a class="btn btn-default" href="{{ url_for('assignment_repo_csv', repo_id=assignment_repo.id )}}">Download CSV</a>
      </div>
    </div>
  </div>

  <div class="container">
    <table class="table table-condensed table-striped">
      <tr>
        <th></th>
        {% for assignment in assignments %}
          <th><a href="{{ url_for('assignment', assignment_id=assignment.id) }}" title="View the combined notebook">{{ assignment.name or assignment.path }}</a></th>
        {% endfor %}
      </tr>

      {% for student in students %}
        <tr>
          <th><a href="{{ student.repo.html_url }}" title="View the student repo">{{ student.display_name }}</a></th>
          {% for assignment in assignments %}
            {% set response = responses[assignment.id][student.user.id] %}
            <td class="{{ response.css_class }}">
              <a href="{{ student.repo.html_url }}/blob/master/{{ assignment.path }}" title="{{ response.hover }}">
                {{ response.text }}
              </a>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
