{% extends "layout.html" %}
{% block title %}{{ assignment_repo.owner.login }}/{{ assignment_repo.name }}{% endblock %}

{% block breadcrumbs %}
  <li>{{ classroom_owner.login }}</li>
  <li class="active">{{ assignment_repo.name }}</li>
{% endblock %}

{% block header %}
  <div class="jumbotron">
    <div class="container">
      <h3>
        {{ assignment_repo.name }}
        <small>({{ classroom_owner.fullname or classroom_owner.login | capitalize }})</small>
      </h3>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>{% if repo_update_time %}Updated {{ repo_update_time | timesince }} ago.{% else %}Never updated.{% endif %}</p>
      <p>Execute <tt>flask updatedb</tt> to update the database.</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div>
    <a class="btn btn-default btn-sm" href="{{ url_for('assignment_repo_csv', repo_id=assignment_repo.id )}}">Download CSV <i class="fa fa-table" aria-hidden="true"></i></a>
  </div>

  <table class="table table-condensed table-striped table-hover">
    <tr>
      <th></th>
      {% for assignment in assignments %}
        <th><a href="{{ url_for('assignment', assignment_id=assignment.id) }}" title="View the combined notebook">{{ assignment.name or assignment.path }}</a></th>
      {% endfor %}
    </tr>
    <tr>
      <th>Due date</th>
      {% for assignment in assignments %}
        <td class="small">{% if assignment.due_date %}{{ assignment.due_date | datetimeformat('%a %b %-d<br>%l:%M%p') | safe }}{% endif %}</td>
      {% endfor %}
    </tr>

    {% for student in students|sort(attribute='display_name', case_sensitive=False) %}
      <tr>
        <th><a href="{{ student.repo.html_url }}" title="View the student repo on GitHub">{{ student.display_name }}</a></th>
        {% for assignment in assignments %}
          {% with response = responses[assignment.id][student.user.id] %}
          <td class="{{ response.css_class }}">
            <a href="{{ student.repo.html_url }}/blob/master/{{ assignment.path }}" title="view on GitHub">
              {% if response.unchanged %}
                unchanged from original
              {% elif response.unavailable %}
                unable to retrieve file
              {% elif response.invalid_notebook %}
                invalid notebook
              {% elif response.status == 'complete' and assignment.due_date %}
                {% if response.submission_date <= assignment.due_date %}
                  on time
                {% else %}
                  {{ response.submission_date | timesince(assignment.due_date) }} late
                {% endif %}
              {% elif response.status == 'complete' %}
                {{ response.submission_date | datetimeformat('%a %b %-d %l:%M%p') }}
              {% else %}
                {{ response.text }}
              {% endif %}
            </a>
          </td>
          {% endwith %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
