<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ assignment_name }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <ol class="breadcrumb">
      <li>{{ classroom_owner.login }}</li>
      <li>{{ classroom_repo.name }}</li>
      <li>{{ assignment_name }}</li>
    </ol>

    <div class="container">
      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#collation" aria-controls="collation" role="tab" data-toggle="tab">Collation</a></li>
          <!-- <li role="presentation"><a href="#assignment" aria-controls="assignment" role="tab" data-toggle="tab">Messages</a></li> -->
          <!-- <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li> -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="collation">
            <div class="text-center">
              <div class="btn-group" role="toolbar">
                <a type="button" class="btn btn-default" title="download notebook" href="{{ collated_nb_download_url }}">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a>
              </div>
            </div>

            <div class="fluid">
              <iframe src="{{ collated_html_url }}" frameborder="0"></iframe>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="assignment">.3..</div>
          <div role="tabpanel" class="tab-pane" id="summary">..2.</div>
        </div>

      </div>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
