{% extends "layout.html" %}
{% block title %}{{ assignment_name }}{% endblock %}

{%block head %}
  <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li>{{ classroom_owner.login }}</li>
    <li><a href="/">{{ classroom_repo.name }}</a></li>
    <li>{{ assignment_name }}</li>
  </ol>
{% endblock %}

{% block content %}
      <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#assignment" aria-controls="assignment" role="tab" data-toggle="tab">Assignment Notebook</a></li>
          <li role="presentation" class="active"><a href="#collation" aria-controls="collation" role="tab" data-toggle="tab">Combined Notebook</a></li>
          <!-- <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li> -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="assignment">
            <iframe src="{{ assignment_nb_html_url }}" frameborder="0" width="100%" scrolling="no" onload="resizeIframe(this)"></iframe>
          </div>

          <div role="tabpanel" class="tab-pane active" id="collation">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 content">
                <h1><small>{{ assignment_path }}
                  <a type="button" class="btn btn-default" title="download notebook" href="{{ collated_nb_download_url }}">
                    Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                  </a>
                </small></h1>

                <iframe src="{{ collated_nb_html_url }}" frameborder="0" width="100%" scrolling="no" onload="resizeIframe(this)"></iframe>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="summary">..2.</div>
        </div>

    </div>
{% endblock %}
