<!DOCTYPE html>
<html>
  <head>
    <style>
      th { text-align: left; }
      td { padding-right: 20px; }
      td { color: green; }
      td.missing { color: red; }
    </style>
  </head>

  <body>
    <table>
      <tr>
        <th></th>
        {% for name in assignment_names %}
          <th>{{ name }}</th>
        {% endfor %}
      </tr>

      {% for row in rows %}
        <tr>
          <th>{{ row.fullname or row.login }}</th>
          {% for col_key in col_keys %}
            <td class="{{ row.status[col_key] }}">{{ row.status[col_key] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
  </html>
