<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ org_login }}/{{ repo_name }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
    .jumbotron { padding: 0.5em 0.6em; }
    .jumbotron h1 { font-size: 2em; }
    .jumbotron p { font-size: 1.2em; }
    .jumbotron p .btn { padding: 0.5em; }
    </style>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>{{ org_login }} / {{ repo_name}}</h1>
        <p>{{ org_fullname or org_login | capitalize }} {{ repo_name}} forks.</p>
      </div>
    </div>

    <div class="container">
      <table class="table table-condensed table-striped">
        <tr>
          <th></th>
          {% for assignment in assignments %}
            <th><a href="/assignment/{{ assignment[0] }}" title="View the combined notebook">{{ assignment[1] }}</a></th>
          {% endfor %}
        </tr>

        {% for row in rows %}
          <tr>
            <th><a href="{{ row.repo_url }}" title="View the student repo">{{ row.fullname or row.login }}</a></th>
            {% for response in row.responses %}
              <td class="{{ response.css_class }}">
                <a href="{{ row.repo_url }}/blob/master/{{ response.path }}" title="View the student file">
                  {{ response.mod_time }}
                </a>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
